<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    </environment>
    <environment names="Staging, Production">
        <link href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"
              asp-fallback-href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    </environment>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">AspNetCoreDemo</a>
            </div>
            <div class="navbar-right">
                @await Component.InvokeAsync("LoginLogout")
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <footer style="text-align:center">
            <hr />
            @RenderSection("footer", required: false)
            @await Component.InvokeAsync("Greeting")
            @DateTime.Now
        </footer>
    </div>
    <environment names="Development">
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"
                asp-fallback-src="/node_modules/jquery/dist/jquery.min.js"
                asp-fallback-test="window.JQuery">
        </script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"
                asp-fallback-src="/node_modules/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.JQuery && JQuery.validator">
        </script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"
                asp-fallback-test="window.JQuery && JQuery.validator && JQuery.validator.">
        </script>
    </environment>
</body>
</html>
