<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer style="text-align:center">
        <hr />
        @RenderSection("footer", required: false)
        @DateTime.Now
    </footer>
</body>
</html>
