@using ASP.NET_Core_Demo.Entities
@model ASP.NET_Core_Demo.Entities.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Create a Resaurant</h1>

    <div>
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m=>m.Name)
                <br />
                @Html.TextBoxFor(m => m.Name)
            </div>
            <br />
            <div>
                @Html.LabelFor(m=>m.Cuisine)
                <br />
                @Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList(typeof(CuisineType)))
            </div>
            <br />
            <br />
            <br />
            <div>
                <input type="submit" value="Save" />
            </div>
        }

    </div>

</body>
</html>